# ===================================================================
# tpDcc-dccs-max requirements file
# ===================================================================

euclid
tpDcc-core
tpDcc-libs-python
tpDcc-libs-qt